{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}


<div class="home">
 <div id="textCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block w-100 text-center">
                    <h2>stJoseph Hospital</h2>
                    <p>At stJoseph Hospital, we are committed to providing the best healthcare services to our community. Our team of experienced professionals is here to ensure that you receive the highest quality care.</p>
                    <button class="btn btn-outline-primary">CONTACT US</button>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 text-center">
                        <h2>Our Services</h2>
                      <ul type="none">
                       <li>General Medicine</li>
                       <li>Pediatrics</li>
                       <li>Orthopedics</li>
                       <li>Cardiology</li>
                       <li>Emergency Services</li>
                       <li>Pharmacy</li>
                      </ul>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 text-center">
                    <h2>Contact Us</h2>
                        <p>Address: 123 Health St, Wellness City, Country</p>
                        <p>Phone: (123) 456-7890</p>
                         <p>Email: contact@stjosephhospital.com</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 text-center">
                     <div class="heart "></div>
                    <p>We ensure clients have a healthy life</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#textCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#textCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>

{% endblock %}